/* -------------------------------------------------------------

	(c) Copyright 2015 Trushin Victor. All rights reserved.

------------------------------------------------------------- */

/********************** HOME PAGE *************************/

@media only screen and (max-width: 800px){
	.big_project { min-height: auto; height: auto; max-height: none; overflow: hidden; }
	#top{ border-bottom: 2px solid #000; }
	.big_project .image, .big_project .text{ width: 100%; float: left; }
	.big_project.reverse .image, .big_project.reverse .text{ float: left; }
	.big_project .image{ height: 300px; }
	.big_project .text .text_wrap{ height: auto; width: 100%; padding: 40px 40px 0 40px !important; }
	.big_project.reverse .text .text_wrap{ width: 100%; padding: 40px 40px 0 40px !important; }
	.big_project .text .text_wrap .more_wrap{ position: relative; bottom: 0; }
	.big_project .text .text_wrap a{ margin: 10px 0 25px 0; }
	.big_project > .arr{ display: none;	}
	.big_project > .btn{
		left: 50%;
		margin-left: -75px;
		position: relative;
		bottom: auto;
		margin-bottom: 25px;
	}
}

@media only screen and (max-width: 720px){
	#about > .arr{ display: none; }
	#about{ min-height: auto; height: auto; max-height: auto; padding-bottom: 20px; }
	#about .project_plan{ width: 390px; overflow: hidden; }
	#about .project_plan li{ margin: 0 0 25px 0; width: 130px; }
	#about .project_plan li:nth-of-type(5n){ margin-left: 0; }
	#about .project_plan li:last-child{ width: 100%; }
	#about .project_plan li div{ margin: 0 auto; }
}

@media only screen and (max-width: 570px){
	#top{ font-size: 70%; }
	#top h1, #top h2{ height: 67px; }
}

@media only screen and (max-width: 470px){
	#contact{ min-height: auto; height: auto; max-height: auto; padding: 40px 10px 80px 10px; }
	#contact .vcard{ width: 390px; height: auto; }
	#contact .vcard .col{ width: 100%; padding: 0 0 10px 0 !important; }
	#contact .vcard .col h4{ text-align: center; }
	#contact .vcard .col span{ text-align: center; display: block; }

	#top.animated .wrap .case.new{ width: 100%; }
}

@media only screen and (max-width: 430px){
	#about .project_plan,
	#contact .vcard{ width: 260px; }
	#contact .vcard .col:last-child{ padding-bottom: 20px !important; }
	.big_project .text .text_wrap,
	.big_project.reverse .text .text_wrap{ padding: 20px 20px 0 20px !important; }
	#about p{ padding: 0 20px; }

	#top{ font-size: 65%; }
	#top h1, #top h2{ height: 62px; }
}

/********************** PROJECTS PAGE *************************/

@media only screen and (max-width: 810px){
	#projects_top{ min-height: auto; height: 250px; max-height: none; }
	#projects_top h1{ margin: 34px 0 0 0; }
	.projects_wrap{ width: 540px !important; }
	.projects_wrap .tile div{
		height: auto;
		opacity: 1;
		top: auto;
		bottom: 0;
		padding: 7px 0;
	}
	.projects_wrap .tile div p,
	.projects_wrap .tile div p span{
		color: #fff;
	}
	.projects_wrap .tile div p{
		font-size: 15px !important;
	}
	.projects_wrap .tile div p span,
	.projects_wrap .tile a:hover div p span{
		margin-bottom: 0;
		font-size: 17px !important;	
	}
}

@media only screen and (max-width: 560px){
	.projects_wrap{ width: 290px !important; padding: 40px 20px; }
}

@media only screen and (max-width: 480px){
	#projects_top{ height: 200px; font-size: 80%; }
	#projects_top h1{ margin: 10px 0 0 0; }
}

/********************** SINGLE PROJECT PAGE *************************/
@media only screen and (max-width: 560px){
	#description .col{
		width: 100%;
		margin-top: 20px;
	}
}
