/* -------------------------------------------------------------

	(c) Copyright 2015 Trushin Victor. All rights reserved.

------------------------------------------------------------- */

/* basic styles */

@font-face{
	font-family: "ProximaNovaLight";
	src: url(../font/ProximaNovaLight.otf);
}
@font-face{
	font-family: "ProximaNovaRegular";
	src: url(../font/ProximaNovaRegular.otf);
}
@font-face{
	font-family: "ProximaNovaRegularItalic";
	src: url(../font/ProximaNovaRegularItalic.otf);
}
@font-face{
	font-family: "ProximaNovaSemibold";
	src: url(../font/ProximaNovaSemibold.otf);
}
@font-face{
	font-family: "ProximaNovaBold";
	src: url(../font/ProximaNovaBold.otf);
}
body{ margin: 0; }
*{ box-sizing: border-box; }

html, body{ height: 100%; }

/* common styles */
section{ 
	position: relative;
	width: 100%;
	min-height: 560px;
	height: 100%;
	max-height: 1000px;
	min-width: 1040px;
}
.wrap{
	width: 1040px;
	margin: 0 auto;
}
.hidden{
	display: none;
}

/* arrow */
.arr{
	position: relative;
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 70px;
	background-image: url(../img/arr.png);
	background-repeat: no-repeat;
	background-position: 50% 56%;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.arr.active, .arr:active, .arr:hover{
	background-color: #ff9800;
	-webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.35);
	box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.35);
}
.arr.active:hover{
	-webkit-box-shadow: none;
	box-shadow: none;
}
section > .arr{
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: 25px;
}

/* button */
.btn{
	display: inline-block;
	text-decoration: none;
	height: 50px;
	line-height: 46px;
	padding: 0 45px;
	font-family: "ProximaNovaRegular";
	font-size: 1.15em;
	color: #ff9800 !important;
	border: 2px solid #ff9800;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.btn.btn-red{
	color: #d32f2f;
	border-color: #d32f2f;
}
.btn.active, .btn:active, .btn:hover{
	background: #ff9800;
	color: #fff !important;
}
.btn.btn-red.active, .btn.btn-red:active, .btn.btn-red:hover{
	background: #d32f2f;
	color: #ffebee !important;
}
.btn.btn-shadow.active:hover{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.btn-shadow{
	-webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.35);
	box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.35);
}
section > .btn{
	padding: 0;
	text-align: center;
	width: 150px;
	left: 50%;
	margin-left: -75px;
	bottom: 120px;
	position: absolute;
}

/* page loader */
#pageLoader{
	background-color: #ff9800;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
	z-index: 100000;
}
#pageLoader .center{
	width: 100%;
	height: 100%;
	position: relative;
}
#pageLoader .center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150px;
	width: 150px;
	margin-top: -75px;
	margin-left: -75px;
    -moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
}
#pageLoader .object{
	width: 20px;
	height: 20px;
	background-color: #FFF;
	position: absolute;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	-webkit-animation: pageLoader_animate 0.8s infinite;
	animation: pageLoader_animate 0.8s infinite;
}
#pageLoader .object.one {
	top: 19px;
	left: 19px;	
}
#pageLoader .object.two {
	top: 0px;
	left: 65px; 
	-webkit-animation-delay: 0.1s; 
    animation-delay: 0.1s;
}
#pageLoader .object.three {
	top: 19px;
	left: 111px; 	
	-webkit-animation-delay: 0.2s; 
    animation-delay: 0.2s; 
}
#pageLoader .object.four {
	top: 65px;
	left: 130px; 
	-webkit-animation-delay: 0.3s; 
    animation-delay: 0.3s; 
}
#pageLoader .object.five {
	top: 111px;
	left: 111px; 
	-webkit-animation-delay: 0.4s; 
    animation-delay: 0.4s; 
}
#pageLoader .object.six {
	top: 130px;
	left: 65px;
	-webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s; 
}
#pageLoader .object.seven {
	top: 111px;
	left: 19px;
	-webkit-animation-delay: 0.6s; 
    animation-delay: 0.6s; 
}
#pageLoader .object.eight {
	top: 65px;
	left: 0px;
	 -webkit-animation-delay: 0.7s; 
    animation-delay: 0.7s; 
}


@-webkit-keyframes pageLoader_animate {
	25% {
		-ms-transform: scale(1.5); 
	   	-webkit-transform: scale(1.5);   
	    transform: scale(1.5);  
	}

	75% {
		-ms-transform: scale(0); 
	   	-webkit-transform: scale(0);  
	    transform: scale(0);  
	}
}
@keyframes pageLoader_animate {
	50% {
		-ms-transform: scale(1.5,1.5); 
	   	-webkit-transform: scale(1.5,1.5); 
	    transform: scale(1.5,1.5); 
	}
 
	100% {
		-ms-transform: scale(1,1); 
	   	-webkit-transform: scale(1,1); 
	    transform: scale(1,1); 
	}
}

/********************** HOME PAGE *************************/

/* top block */
#top{
	overflow: hidden;
	background: url(../img/bg_top.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	font-size: 100%;
	min-height: auto;
}
#top.animated .wrap{
	height: 100%;
	width: 0; 
	display: table; 
	margin-top: 0;
}
#top.animated .wrap .col{
	display: table-cell;
	vertical-align: middle;
}
#top.animated .wrap .case{
	width: 0;
	margin: 0 auto;
}
#top.animated h1 span, #top.animated h2 span{
	position: relative;
	overflow: hidden;
	display: inline-block;
	opacity: 0;
}
#top.animated .wrap .case, 
#top.animated h1 span, 
#top.animated h2 span{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#top.animated .wrap .case.new{
	width: 450px;
}
#top.animated h1 span{ top: 100%; }
#top.animated h2 span{ bottom: 100%; }
#top.animated h1 span.new{ top: 0; opacity: 1; }
#top.animated h2 span.new{ bottom: 0; opacity: 1 !important; }

#top .wrap{
	margin-top: 200px;
	width: 450px;
	overflow: hidden;
}
#top h1, #top h2{
	position: relative;
	height: 100px;
	margin: 0;
	color: #fff;
	overflow: hidden;
}
#top h1{
	display: inline-block;
	font-family: "ProximaNovaBold";
	padding: 8px 0;
	font-size: 3.5em;
	border-bottom: 2px solid #fff;
}
#top h2{
	padding-top: 14px;
	font-family: "ProximaNovaRegular";
	font-size: 2em;
}
#top .arr_wrap{
	width: 100%;
	height: 86px;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+46,000000+100&amp;0+46,0.5+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 46%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 46%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 46%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 46%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 46%,rgba(0,0,0,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}


/* project block */
.big_project .image,
.big_project .text{
	height: 100%;
	width: 50%;
	float: left;
}
.big_project.reverse .image,
.big_project.reverse .text,
.big_project.reverse .text .text_wrap{
	float: right;
}
.big_project.reverse .text .text_wrap{
	padding: 85px 85px 0 0;
}
.big_project .image{
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.big_project .image:after{
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	top: 0;
	left: 0;
	background-color: rgba(99, 91, 83, 0.2);
}
.big_project .text{
	background: #fff;
	font-size: 100%;
}
.big_project .text .text_wrap{
	width: 525px;
	height: 100%;
	padding: 85px 0 0 85px;
	float: left;
	position: relative;
}
.big_project .text .text_wrap h3{
	font-family: "ProximaNovaSemibold";
	margin: 0 0 10px 0;
	color: #2c2c2c;
	font-size: 2.1em;
	font-weight: bolder;
}
.big_project .text .text_wrap span{
	font-family: "ProximaNovaRegularItalic";
	color: #2c2c2c;
	font-size: 1.15em;
	margin-bottom: 15px;
	display: inline-block;
}
.big_project .text .text_wrap .content{
	font-family: "ProximaNovaRegular";
	margin: 10px 0 5px 0;
	color: #2c2c2c;
	font-size: 1.15em;
}
.big_project .text .text_wrap a{
	display: inline-block;
	font-family: "ProximaNovaRegular";
	margin-top: 15px;
	color: #50a6f5;
	text-decoration: none;
	font-size: 1.15em;
}
.big_project .text .text_wrap .more_wrap{
	bottom: 35px;
	left: 0;
	position: absolute;
	width: 100%;
	text-align: center;
}

/* about block */
#about{
	text-align: center;
	font-size: 100%;
	overflow: hidden;
}
#about h3{
	font-family: "ProximaNovaSemibold";
	color: #2c2c2c;
	font-size: 2.1em;
	font-weight: bolder;
	margin: 40px 0 30px 0;
}
#about p{
	font-family: "ProximaNovaLight";
	color: #2c2c2c;
	font-size: 1.15em;
	margin: 0 auto;
	width: 820px;
}
#about .project_plan{
	margin: 0 auto;
	margin-top: 40px;
	padding: 0;
	overflow: hidden;
	width: 880px;
}
#about .project_plan li{
	list-style: none;
	display: inline-block;
	float: left;
	margin: 10px 55px;
}
#about .project_plan li:nth-of-type(5n){
	margin-left: 165px;
}
#about .project_plan li div{
	position: relative;
	width: 110px;
	height: 110px;
	border: 3px solid #2c2c2c;
	border-radius: 110px;
	text-align: center;
}
#about .project_plan li div i{
	font-family: "ProximaNovaRegular";
	font-size: 1em;
	color: #fff;
	display: inline-block;
	position: absolute;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 28px;
	background: #ff9800;
	border-radius: 30px;
	font-style: normal;
	top: 0;
	left: 0;
}
#about .project_plan li div img{
	width: 64px;
	height: 64px;
	margin-top: 21px;
}
#about .project_plan li span{
	display: block;
	font-family: "ProximaNovaLight";
	color: #2c2c2c;
	margin-top: 6px;
	font-size: 1.1em;
}
@media only screen and (min-width: 1040px) and (max-height: 630px){
	#about h3{ margin: 20px 0 10px 0; }
	#about .project_plan{ margin-top: 20px; }
	#about .project_plan li{ margin: 0 55px; }
}

/* contact */
#contact{
	overflow: hidden;
	background: url(../img/bg_contact.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	display: table;
}
#contact .cell{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
#contact .vcard{
	width: 500px;
	height: 260px;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
}
#contact .vcard h3{
	margin: 0;
	padding: 0;
	height: 52px;
	line-height: 52px;
	text-align: center;
	color: #fff;
	font-family: "ProximaNovaRegular";
	font-weight: normal;
	font-size: 27px;
	background: #e53935;
	clear: both;
}
#contact .vcard .col{
	width: 50%;
	float: left;
	padding: 10px 0 35px 0;
}
#contact .vcard .col:nth-of-type(2n+1){
	text-align: left;
	padding-left: 45px;
}
#contact .vcard .col:nth-of-type(2n){
	text-align: center;
}
#contact .vcard .col h4{
	font-family: "ProximaNovaLight";
	font-weight: normal;
	margin: 20px 0 5px 0;
	padding: 0;
	font-size: 22px;
	color: #e53935;
}
#contact .vcard .col span{
	font-family: "ProximaNovaLight";
	color: #000;
	font-size: 20px;
}
#contact .vcard .col .resume{
	width: 200px;
	height: 150px;
	margin-top: 15px;
	display: inline-block;
	text-align: center;
	font-family: "ProximaNovaLight";
	color: #000;
	text-decoration: none;
	font-size: 20px;
	border: 1px solid #fff;
}
#contact .vcard .col .resume:hover{
	border-color: #5b5353;
}
#contact .vcard .col .resume:active{
	border-color: #e53935;
}
#contact .vcard .col .resume img{
	display: block;
	margin: 20px auto 12px auto;
}
#contact footer{
	position: absolute;
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	background: rgba(33, 33, 33, 0.6);
	left: 0;
	bottom: 0;
	color: #cfcfcf;
	font-family: "ProximaNovaLight";
}




/********************** PROJECTS PAGE *************************/

/* top styles */
#projects_top{
	overflow: hidden;
	background: url(../img/cta_parallax.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	font-size: 100%;
	height: 320px;
	min-height: 320px;
}
#projects_top nav{
	overflow: hidden;
	text-align: left;
}
#projects_top nav a{
	display: inline-block;
	background: url(../img/back.png) no-repeat;
	background-position: 10px 10px;
	height: 50px;
	margin: 10px 0;
	float: left;
	font-size: 1.2em;
	line-height: 52px;
	font-family: "ProximaNovaLight";
	color: #fff;
	text-shadow: 0 3px 7px #000000;
	text-decoration: none;
	text-indent: 75px;
}
#projects_top h1{
	font-family: "ProximaNovaLight";
	color: #fff;
	margin: 55px 0 0 0;
	font-size: 3.5em;
	font-weight: lighter;
}

/* projects styles */
#projects{
	min-height: auto;
	max-height: none;
	height: auto;
	background: #fff;
}

.projects_wrap{
	padding: 75px 20px;
	overflow: hidden;
}
.projects_wrap .tile{
	width: 250px;
	height: 250px;
	float: left;
}
.projects_wrap .tile.p{
	background: #f0875d;
}
.projects_wrap .tile a{
	display: block;
	position: relative;
	width: 250px;
	height: 250px;
	top: 0;
	left: 0;
}
.projects_wrap .tile img{
	width: 100%;
	height: 100%;
}
.projects_wrap .tile div{
	position: absolute;
	display: table;
	text-align: center;	
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	z-index: 20;
	background: rgba(0, 0, 0, 0.45);
	opacity: 0;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.projects_wrap .tile a:active{
	margin: 0 !important;
	width: 250px !important;
	height: 250px !important;
	-webkit-box-shadow:inset 0 2px 6px 0 rgba(0,0,0,0.65) !important;
	box-shadow:inset 0 2px 6px 0 rgba(0,0,0,0.65) !important;
}
.projects_wrap .tile a:hover{
	width: 260px;
	height: 260px;
	margin-top: -5px;
	margin-left: -5px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
	z-index: 50;
}
.projects_wrap .tile a:hover div{
	opacity: 1;
}
.projects_wrap .tile a:hover div p{
	color: #fff;
	font-size: 16px;
}
.projects_wrap .tile a:active div p{
	font-size: 15px !important;
}
.projects_wrap .tile a:hover div p span{
	margin-bottom: 2px;
	color: #fff;
	font-size: 18px;
}
.projects_wrap .tile a:active div p span{
	font-size: 17px !important;
}
.projects_wrap .tile div p{
	vertical-align: middle;
	display: table-cell;
	padding: 0 25px;
	color: transparent;
	font-family: "ProximaNovaLight";
	font-size: 17px;
	text-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.projects_wrap .tile div p span{
	font-family: "ProximaNovaBold";
	display: block;
	font-size: 20px;
	margin-bottom: 20px;
	color: transparent;
	text-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.projects_wrap .tile div p,
.projects_wrap .tile div p span{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.loading_wrap{
	overflow: hidden;
	clear: both;
	padding-top: 10px;
}
.loading{
	width: 120px;
	height: 50px;
	margin: 0 auto;
}
.loading .object{
	width: 20px;
	height: 20px;
	background-color: #ff9800;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
}
.loading .object.one {	
	-webkit-animation: object_one 1.5s infinite;
	animation: object_one 1.5s infinite;
}
.loading .object.two {
	-webkit-animation: object_two 1.5s infinite;
	animation: object_two 1.5s infinite;
	-webkit-animation-delay: 0.25s; 
    animation-delay: 0.25s;
}
.loading .object.three {
    -webkit-animation: object_three 1.5s infinite;
	animation: object_three 1.5s infinite;
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
	
}
@-webkit-keyframes object_one {
	75% { -webkit-transform: scale(0.55); }
}
@keyframes object_one {
  75% { 
    transform: scale(0.55);
    -webkit-transform: scale(0.55);
  }
}

@-webkit-keyframes object_two {
  75% { -webkit-transform: scale(0.55); }
}
@keyframes object_two {
  75% { 
    transform: scale(0.55);
    -webkit-transform:  scale(0.55);
  }
}

@-webkit-keyframes object_three {
  75% { -webkit-transform: scale(0.55); }
}
@keyframes object_three {
  75% { 
    transform: scale(0.55);
    -webkit-transform: scale(0.55);
  }
}





/********************** SINGLE PROJECT PAGE *************************/
.project_body{
	background-color: #363a3d;
}
#photo{
	width: 100%;
	height: 450px;
	z-index: 20;
	background-color: #363a3d;
	-webkit-transition: background-color 5s ease;
	-moz-transition: background-color 5s ease;
	-ms-transition: background-color 5s ease;
	-o-transition: background-color 5s ease;
	transition: background-color 5s ease;
	display: table;
	background-position: 50% 0 !important; 
	background-repeat: no-repeat;
	background-size: cover !important;
	font-size: 110%;
}
#photo .top_shadow{
	position: absolute;
	width: 100%;
	height: 80px;
	top: 0;
	left: 0;
	z-index: 25;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.45)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
#photo .top_shadow a{
	display: inline-block;
	background: url(../img/back.png) no-repeat;
	background-position: 10px 10px;
	height: 50px;
	margin: 10px 0;
	float: left;
	font-size: 1.2em;
	line-height: 52px;
	font-family: "ProximaNovaLight";
	color: #fff;
	text-shadow: 0 3px 7px #000000;
	text-decoration: none;
	text-indent: 75px;
}

/* description */
#description{
	min-height: auto;
	max-height: auto;
	height: auto;
	background: #fff;
	width: 100%;
	padding: 90px 0 70px 0;
	overflow: hidden;
}
#description .wrap > h2{
	font-family: "ProximaNovaRegular";
	font-size: 26px;
	margin: 0;
	padding: 0 0 0 35px;
	clear: both;
}
#description .wrap > span{
	display: block;
	font-family: "ProximaNovaRegular";
	font-size: 14px;
	padding: 0 0 0 35px;
	clear: both;
}
#description .wrap > .link{
	font-family: "ProximaNovaRegular";
	font-size: 14px;
	padding: 10px 0 0 35px;
	clear: both;
}
#description .col{
	width: 518px;
	float: left;
	padding: 0 10px 0 35px;
	margin-top: 50px;
	box-sizing: border-box;
	font-family: "ProximaNovaRegular";
}
#description h3{
	font-size: 22px;
	margin: 5px 0;
	padding: 0;
}
#description p{
	font-size: 16px;
	line-height: 24px;
}

/* gallery */
#gallery{
	min-height: auto;
	max-height: none;
	height: auto;
	background: #363a3d;
	width: 100%;
	padding: 90px 0;
	overflow: hidden;
}
#gallery .wrap{
	position: relative;
}
#gallery a{
	display: block;
	width: 255px;
	box-sizing: border-box;
}
#gallery img{
	width: 100%;
}
.modal-content .close{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 5px;
	background: url(../img/close.png);
	border: none;
}
.modal-content{
	min-height: 50px;
	overflow: hidden;
}
.modal-content img{
	width: 100%;
}
.modal .plus{
	left: 50%;
	margin-left: -24px;
}

/* loader */
.l_wrap{
	height: 60px;
	display: table-cell;
	vertical-align: middle;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #363a3d;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 6px;
  text-indent: -99999em;
  margin: 5em auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #FFF;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
#g_loading{
	left: 50%;
	margin-left: -30px;
	display: block;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #363a3d;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}