/* -------------------------------------------------------------

	(c) Copyright 2015 Trushin Victor. All rights reserved.

------------------------------------------------------------- */

/********************** HOME PAGE *************************/

@media only screen and (max-width: 1090px){
	section{ min-width: auto; }
	.wrap{ width: 920px; }
	.big_project .text .text_wrap{ 
		padding: 40px 0 0 85px !important; 
		width: 425px; 
	}
	.big_project.reverse .text .text_wrap{ 
		padding: 40px 85px 0 0 !important; 
		width: 425px; 
	}
	#about h3{ margin: 40px 0 10px 0; }
	#about .project_plan{ margin-top: 20px; }
	#about .project_plan li{ margin: 0 55px; }
}

@media only screen and (max-width: 920px){
	.arr{
		width: 60px;
		height: 60px;
		background-size: 50%;
	}
	section > .arr{ margin-left: -30px; }

	.btn{
		height: 45px;
		line-height: 41px;
	}
	.big_project .text .text_wrap .more_wrap{ bottom: 34px; }
	section > .btn{ margin-left: -115px; bottom: 110px; }
	section.reverse > .btn{	margin-left: -35px; }

	#top{ font-size: 80%; }
	#top h1, #top h2{ height: 76px; }
	.wrap{ width: 100%; }

	#about{ font-size: 90%; border-top: 1px solid #dedede; }
	#about p{ width: 100%; padding: 0 40px; margin-top: 20px; }
	#about .project_plan{ margin-top: 30px; width: 720px; }
	#about .project_plan li{ margin: 0 35px; }
	#about .project_plan li:nth-of-type(5n){ margin-left: 125px; }

	.big_project .text{ font-size: 90%; }
	.big_project .text .text_wrap{ padding: 40px 0 0 40px !important; }
	.big_project.reverse .text .text_wrap{ padding: 40px 40px 0 0 !important; }

	#contact .vcard{
		width: 430px;
		height: 225px;
	}
	#contact .vcard .col{ padding: 0 0 15px 0; }
	#contact .vcard .col:nth-of-type(2n+1){ padding-left: 35px; }
	#contact .vcard h3{
		height: 46px;
		line-height: 46px;
		font-size: 24px;
	}
	#contact .vcard .col h4{ font-size: 20px; }
	#contact .vcard .col span{ font-size: 18px;	}
	#contact .vcard .col .resume{
		width: 160px;
		height: 135px;
		font-size: 18px;
	}
	#contact .vcard .col .resume img{ height: 72px; }
}

@media only screen and (max-width: 880px){
	.big_project .text .text_wrap{ width: 380px; }
	.big_project.reverse .text .text_wrap{ width: 380px; }
}

/********************** PROJECTS PAGE *************************/
@media only screen and (max-width: 1090px){
	.projects_wrap{ width: 790px !important; }
}

@media only screen and (max-width: 970px){
	#projects_top{ font-size: 90%; }
	#projects_top nav a{ background-size: 37%; line-height: 46px; text-indent: 65px; }
}

/********************** SINGLE PROJECT PAGE *************************/
@media only screen and (max-width: 1046px){
	#description .col{
		width: 50%;
	}
	#photo{
		min-height: auto;
		height: 350px;
	}
}

@media only screen and (max-width: 970px){
	#photo{ font-size: 90%; }
	#photo .top_shadow a{ background-size: 37%; line-height: 46px; text-indent: 65px; }
}

@media only screen and (max-width: 830px){
	#description{
		padding: 60px 0;
	}
	#description .wrap > h2,
	#description .wrap > span,
	#description .col,
	#description .wrap > .link{
		padding-left: 20px;
	}
}